img {
  width: 250px;
  height: 250px;
}

table {
    width: 100%;
    border-collapse:collapse;
}
dd {
	margin-left: 35px;
}
h1 {
	color: orange;
}

.jumbotron {
	color: orange;
	backgroung-color: black;
}